<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>DEMOQA</title>
    <div id="fixedban" style="width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:9999999">

    </div>
    <script>
      ! function(e, t, a, n, g) {
        e[n] = e[n] || [], e[n].push({
          "gtm.start": (new Date).getTime(),
          event: "gtm.js"
        });
        var m = t.getElementsByTagName(a)[0],
          r = t.createElement(a);
        r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-MX8DD4S", m.parentNode.insertBefore(r, m)
      }(window, document, "script", "dataLayer")
    </script>
    <link rel="shortcut icon" href="/favicon.png">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MX8DD4S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="app"></div>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer="defer"></script>
    <script src="/static/js/bundle.js"></script>
  </body>
</html>